/*-------------------------- FONTS ---------------------------*/
@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../../textfonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText-SemiBold';
  src: url("../../textfonts/SFUIText-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText-Bold';
  src: url("../../textfonts/SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Black';
  src: url("../../textfonts/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*-------------------------- VARIABLES ---------------------------*/
/*-------------------------- PRESETS ---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "SFUIText-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.52;
  background-color: #fafafa;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

/*-------------------------- IMAGES ---------------------------*/
/*-------------------------- TYPOGRAPHY ---------------------------*/
.h-1,
.h-2 {
  font-size: 2.7rem;
  font-family: "SFUIText-Bold", sans-serif;
}

.h-1 {
  color: #1F2937;
}

.h-2 {
  color: #4831D4;
  margin-bottom: 25px;
  position: relative;
}

.h-2::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
  width: 70px;
  height: 4px;
  background-color: #4831D4;
}

.h-4 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

p {
  color: #3D155F;
}

.center-item {
  display: grid;
  place-items: center;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: .5rem;
}

.nav--first .logo--blue, .nav--second .logo--white, .footer .logo--blue {
  font-family: "Archivo-Black", sans-serif;
  font-size: 25px;
  letter-spacing: -.6px;
}

.nav--first .logo--blue:hover, .nav--second .logo--white:hover, .footer .logo--blue:hover {
  opacity: .8;
}

main, .footer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav--first {
  position: absolute;
  padding: 4rem;
  top: 0;
  left: 0;
  animation: fade-in ease-in .5s;
}

.nav--first .logo--blue {
  color: #4F46E5;
  position: absolute;
  padding: 0 20px;
  left: 1.5rem;
  top: 3rem;
  z-index: 1;
}

.nav--first .nav--icon {
  background-color: #FFFFFF;
  right: 4rem;
  top: 2.5rem;
  z-index: 10;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav--first .nav--icon .bar1, .nav--first .nav--icon .bar2, .nav--first .nav--icon .bar3 {
  width: 17px;
  height: 2px;
  margin: 4px 0;
  transition: 0.4s;
  background-color: #4F46E5;
  border-radius: 1rem;
}

.nav--first .nav--icon .bar2 {
  width: 27px;
  transform-origin: right;
}

.nav--second {
  min-height: 100vh;
  width: 100%;
  background-color: #4F46E5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  transform-origin: left;
  transition: transform .5s ease-in-out;
}

.nav--second .logo--white {
  padding: 4rem;
  color: #FFFFFF;
  display: inline-block;
  position: fixed;
  top: -1.2rem;
  z-index: 10;
}

.nav--second__content {
  width: 100%;
  position: absolute;
  top: 12rem;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
  padding: 4rem;
  color: #FFFFFF;
}

@media (max-height: 580px) {
  .nav--second__content {
    top: 10rem;
  }
}

.nav--second__content--box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 25rem;
}

.nav--second__content--box .web--profiles {
  display: flex;
  flex-direction: column;
}

.nav--second__content--box .web--profiles__box {
  display: flex;
  align-items: center;
}

.nav--second__content--box .web--profiles__box img {
  margin-right: 2.2rem;
  height: 1.7rem;
}

.nav--second__content--box .web--profiles__box:nth-child(2) {
  margin-top: 1rem;
}

.nav--second__content--box .resume-link {
  font-size: 3.5rem;
  text-decoration: none;
  letter-spacing: -1px;
  color: #FFFFFF;
  font-family: "SFUIText-SemiBold", sans-serif;
  align-self: flex-start;
  transition: all .2s ease-in-out;
}

.nav--second__content--box .resume-link:hover {
  letter-spacing: 3px;
}

.nav--second__content--box .nav__list {
  justify-self: flex-start;
}

.nav--second__content--box .nav__list--item {
  list-style: none;
}

.nav--second__content--box .nav__list--item:not(:last-child) {
  margin-bottom: 3.5rem;
}

.nav--second__content--box .nav__link {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "SFUIText-SemiBold", sans-serif;
  letter-spacing: .5px;
  transition: all .2s ease-in-out;
}

.nav--second__content--box .nav__link:hover {
  letter-spacing: 3px;
}

.nav--second.showIn {
  transform: translateX(0);
}

a.resume-link.mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  a.resume-link.mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  a.resume-link.pc {
    display: none;
  }
}

.nav--anim .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.nav--anim .bar2 {
  transform: translateX(200%);
  opacity: 0;
}

.nav--anim .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  font-size: 1.2rem;
  min-height: 5.4rem;
  letter-spacing: .14rem;
  font-family: "SFUIText-SemiBold", sans-serif;
  overflow: hidden;
  position: relative;
  transition: all .5s ease;
}

.btn--blue {
  background-color: #4831D4;
  color: #FFFFFF;
  min-width: 23rem;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn--blue:hover {
  transform: translateY(5px);
}

.btn--white {
  border: 1px solid #4831D4;
  color: #4831D4;
  background: transparent;
  min-width: 27.2rem;
}

.btn--white::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  height: 100%;
  width: 0;
  background-color: #4831D4;
  z-index: -1;
  transition: width .5s ease-in-out;
}

.btn--white:hover {
  color: #FFFFFF;
}

.btn--white:hover::before {
  width: 120%;
}

main {
  padding: 0 25px;
}

@media (max-width: 768px) {
  main {
    top: 5rem;
  }
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 730px;
  max-width: 100%;
}

.hero__container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 35px 10px;
}

@media (max-width: 768px) {
  .hero__container {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.hero__photo--box {
  position: relative;
  width: 27rem;
  height: 27rem;
}

.hero__photo--box::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: -5rem;
  height: 20rem;
  width: 20rem;
  background-image: url("../../images/lines.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(20rem);
  animation: showsUp ease-in-out 2s .35s both;
  z-index: -1;
}

.hero__photo--box .photo {
  border: 2.5px solid #4F46E5;
  background-image: url("../../images/photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: translate(-40rem);
  opacity: 0;
  animation: fade-in-left ease-in .5s 2s forwards;
}

.hero__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .hero__details {
    justify-content: flex-start;
  }
}

.hero__details .fadeIn--1,
.hero__details .fadeIn--2,
.hero__details .fadeIn--3 {
  display: inline-block;
  opacity: 0;
}

.hero__details .fadeIn--1 {
  animation: fade-in-down ease-in .5s .5s forwards;
}

.hero__details .fadeIn--2 {
  animation: fade-in-down ease-in .5s 1s forwards;
}

.hero__details .fadeIn--3 {
  animation: fade-in-down ease-in .5s 1.5s forwards;
}

.hero__details .scroll-down {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  color: #4b5563;
  font-size: 17px;
  opacity: 0;
  animation: fade-in-up ease-in .5s 2s forwards;
}

@media (max-width: 500px) {
  .hero__details .scroll-down {
    justify-content: center;
  }
}

.hero__details .scroll-down .scroll-svg {
  height: 16px;
  width: 16px;
  margin-left: 10px;
  animation: scrollDown 1s infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}

.about--section {
  padding: 13rem 0;
}

.about--section .about {
  display: flex;
}

.about--section .about__col--1 {
  flex-basis: 65%;
}

.about--section .about__col--1 p:not(:last-child) {
  margin-bottom: 20px;
}

.about--section .about__col--2 {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .about--section .about {
    flex-direction: column;
  }
  .about--section .about__col--2 {
    margin-top: 4rem;
  }
}

.about--section a.resume--mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .about--section a.resume--mobile {
    display: inline-flex;
  }
}

@media screen and (max-width: 1200px) {
  .about--section a.resume--pc {
    display: none;
  }
}

.projects--section {
  padding: 13rem 0;
}

.projects--section p {
  width: 500px;
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 6rem 9rem;
  margin-top: 50px;
}

.projects__box:hover .projects__image {
  transform: scale(1.03);
}

.projects__image {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  transition: transform .3s ease-out;
}

.projects__name {
  margin: 15px 0 7px;
  font-size: 2rem;
  color: #4831D4;
  font-family: "SFUIText-Bold", sans-serif;
}

.projects__description {
  margin-bottom: 12px;
}

.projects__link {
  color: #4831D4;
  position: relative;
  font-size: 13px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-family: "SFUIText-SemiBold", sans-serif;
}

.projects__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.3px;
  width: 100%;
  background-color: #4831D4;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projects__link span {
  font-family: "SFUIText-SemiBold", sans-serif;
  font-size: 1.8rem;
}

.projects__link:hover::after {
  opacity: 1;
}

.contact--section {
  padding: 13rem 0;
}

.contact--section p {
  width: 500px;
  max-width: 100%;
  margin-top: 30px;
}

.contact--section .mail {
  color: #4831D4;
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 3px;
  position: relative;
}

.contact--section .mail::after {
  content: '';
  background-color: #4831D4;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.3px;
  width: 100%;
  transition: opacity .2s ease-in-out;
}

.contact--section .mail:hover::after {
  opacity: 0;
}

@keyframes fade-in-down {
  from {
    transform: translateY(-2.5rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(2.5rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showsUp {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    transform: translate(-100rem);
  }
  to {
    transform: translate(0rem);
    opacity: 1;
  }
}

.footer {
  margin-top: 10rem;
  padding: 4rem 25px 3.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo--blue {
  color: #4F46E5;
  padding: 0 20px;
  position: relative;
  left: -1.5rem;
}

.footer__list {
  display: flex;
  list-style: none;
}

.footer__item {
  margin: 0 5px;
}

.footer__link {
  color: #3D155F;
  display: inline-block;
  position: relative;
}

.footer__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  height: 18px;
  width: 0;
  background-color: #CCF381;
  transition: width .3s ease-in;
  z-index: -1;
}

.footer__link:hover::after {
  width: 15px;
}

.projects--main {
  top: 12rem;
}

.project-guide h1 {
  color: #4831D4;
  font-family: "SFUIText-Bold", sans-serif;
  font-size: 2.7rem;
  margin-bottom: 25px;
}

.project-guide p {
  line-height: 1.75;
  max-width: 700px;
  margin-bottom: 15px;
}

.project-guide__brief {
  margin-top: 50px;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.project-guide__brief h4 {
  color: #4831D4;
  text-transform: uppercase;
  font-size: 1.28rem;
  letter-spacing: .8px;
  margin-bottom: 18px;
}

.project-guide__brief .view-site {
  position: relative;
  padding-bottom: 3px;
}

.project-guide__brief .view-site::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #CCF381;
  opacity: 1;
  transition: opacity .4s ease-out;
}

.project-guide__brief .view-site:hover::after {
  opacity: 0;
}

.project-guide__screenshots {
  margin-top: 15rem;
}

.project-guide__screenshots h2 {
  margin-bottom: 50px;
}

.project-guide__screenshots .screenshots-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 5rem;
}

@media (min-width: 1200px) {
  .project-guide__screenshots .screenshots-container {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 55rem));
  }
}

.project-guide__screenshots img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.other-projects {
  margin-top: 5rem;
  padding: 13rem 0 20rem;
}

.resume {
  max-width: 1200px;
  margin: 70px auto;
  padding: 20px 35px;
  font-size: 12.5px;
  background-color: #f5f4fc;
}

.resume .content-text {
  color: rgba(71, 71, 71, 0.75);
  font-size: 16px;
  max-width: 630px;
  line-height: 25px;
}

.resume h4 {
  font-family: "SFUIText-Bold", sans-serif;
  margin-bottom: 5px;
  color: #4831D4;
  letter-spacing: .1px;
  font-size: 16px;
}

.resume__header {
  display: flex;
  margin-bottom: 50px;
}

.resume__header a {
  margin-left: auto;
}

.resume__header img {
  height: 15px;
  width: 15px;
}

.resume__main-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  row-gap: 50px;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.resume__main-content .sidebar {
  grid-column: 1/2;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
}

.resume__main-content .sidebar div {
  margin-bottom: 35px;
}

.resume__main-content .sidebar a {
  font-family: "SFUIText-Bold", sans-serif;
  font-size: 14px;
  color: #4831D4;
  letter-spacing: .2px;
  display: inline-block;
  margin-bottom: 3.5px;
  position: relative;
}

.resume__main-content .sidebar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #CCF381;
}

.resume__main-content .sidebar p {
  margin-bottom: 2.8px;
  font-family: "SFUIText-Regular", sans-serif;
  color: #474747;
  font-size: 14px;
}

.resume__main-content .sidebar ul {
  list-style: none;
}

.resume__main-content .sidebar li {
  margin-bottom: 6px;
  font-family: "SFUIText-Regular", sans-serif;
  color: #474747;
  font-size: 14px;
  position: relative;
}

.resume__main-content .sidebar li::before {
  content: '';
  position: absolute;
  top: 45%;
  left: -12px;
  transform: translateY(-45%);
  height: 5px;
  width: 5px;
  background-color: #474747;
}

.resume__main-content .top-content {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px 50px;
  position: relative;
}

.resume__main-content .top-content .heading {
  color: #4831D4;
  font-size: 52px;
  font-family: "SFUIText-Bold", sans-serif;
  line-height: 1.2;
}

.resume__main-content .top-content .heading span {
  display: block;
  margin: -8px 0;
}

.resume__main-content .top-content .subheading {
  font-size: 22px;
  color: #474747;
  font-family: "SFUIText-Regular", sans-serif;
  font-weight: normal;
  margin: 19px 0 33px;
  letter-spacing: .4px;
}

.resume__main-content .top-content::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #cbc9dd;
}

.resume__main-content .other-content {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0 50px;
}

.resume__main-content .other-content h4 {
  font-size: 20px;
  position: relative;
}

.resume__main-content .other-content h4:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 8px;
  width: 90px;
  border-radius: 2px;
  background-color: #CCF381;
  z-index: -1;
}

.resume__main-content .other-content div {
  margin: 40px 0;
  padding: 0 10px;
  position: relative;
}

.resume__main-content .other-content h5 {
  color: #4831D4;
  font-size: 17px;
  margin-bottom: 15px;
}

.resume__main-content .other-content p {
  max-width: 550px;
}

.resume__main-content .other-content .p-links {
  position: absolute;
  right: 0;
  top: 8px;
}

.resume__main-content .other-content .p-links a {
  text-transform: lowercase;
  margin: 0 4px;
  font-family: "SFUIText-SemiBold", sans-serif;
}
