.projects--main {
    top: 12rem;
}

// PROJECTS GUIDE SECTION
.project-guide {
    h1 {
        color: $primary-color-1;
        font-family: $secondary-font;
        font-size: 2.7rem;
        margin-bottom: 25px;
    }

    p {
        line-height: 1.75;
        max-width: 700px;
        margin-bottom: 15px;
    }

    &__brief {
        margin-top: 50px;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        h4 {
            color: $primary-color-1;
            text-transform: uppercase;
            font-size: 1.28rem;
            letter-spacing: .8px;
            margin-bottom: 18px;
        }

        .view-site {
            position: relative;
            padding-bottom: 3px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $tertiary-color;
                opacity: 1;
                transition: opacity .4s ease-out;
            }

            &:hover::after {
                opacity: 0;
            }
        }
    }

    &__screenshots {
        margin-top: 15rem;

        h2 {
            margin-bottom: 50px;
        }

        .screenshots-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            grid-gap: 5rem;

            @include rwdMin(1200) {
                grid-template-columns: repeat(auto-fit, minmax(35rem, 55rem));
            }
        }

        img {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}

// OTHER PROJECTS SECTION
.other-projects {
    margin-top: 5rem;
    padding: 13rem 0 20rem;
}