.resume {
    position: relative;
    top: 13rem;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding: 2rem;

    &__heading {
        color: $primary-color-1;
        font-size: 5rem;
        font-family: $secondary-font;
        line-height: 1.4;
        letter-spacing: -5px;

        span {
            display: block;
            margin: -8px 0;
        }
    }

    &__subheading {
        font-size: 1.6rem;
        color: $grey-color;
        font-family: $primary-font;
        font-weight: normal;
        margin: 3rem 0;
        letter-spacing: .4px;
        max-width: 70rem;               
    }

    &__download {
        display: inline-block;
        position: relative;
        color: $primary-color-1;
        display: inline-flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-image: url('../../images/download.svg');
            background-size: cover;
            margin-top: 3px;
        }

        span {
            margin-left: 3rem;
            border-bottom: 2px solid $tertiary-color;
            transition: border-color .2s ease-in-out;
        }

        &:hover span {
            border-color: transparent;
        }
    }

    .section {
        max-width: 95rem;
        margin: 9rem auto 0;

        &__title {
            display: inline-block;
            position: relative;
            padding-bottom: 3px;
            margin-bottom: 1.7rem;
            color: $primary-color-1;

            &::after {
                content: '';
                position: absolute;
                bottom: 10px;
                left: 0;
                height: 7px;
                width: 100%;
                background-color: $tertiary-color;
                z-index: -1;
            }
        }

        &__inner {
            max-width: 60rem;
            margin-left: auto;
            margin-bottom: 5rem;

            h3 {
                font-size: 1.7rem;
                margin-bottom: 1.2rem;
                color: $primary-color-1; 

                a {
                    color: inherit;
                }
            }

            ul {
                list-style: none;
                padding-left: 2rem;
            }

            li {
                color: $grey-color;
                margin-bottom: 1rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: -3%;
                    transform: translateY(-45%);
                    height: 5px;
                    width: 5px;
                    background-color: $grey-color;
                }
            }
        }
    }
}

// RESPONSIVENESS
@media screen and (max-width: 400px) {
    .resume .section__inner li::before {
        left: -5%;
    }
}