// THIS IS NOT MOBILE RESPONSIVE
.resume {
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px 35px;
    font-size: 12.5px;
    background-color: #f5f4fc;

    .content-text {
        color: rgba(71, 71, 71, 0.75);
        font-size: 16px;
        max-width: 630px;
        line-height: 25px;
    }

    h4 {
        font-family: $secondary-font;
        margin-bottom: 5px;
        color: $primary-color-1;
        letter-spacing: .1px;
        font-size: 16px;
    }

    &__header {
        display: flex;
        margin-bottom: 50px;

        a {
            margin-left: auto;
        }

        img {
            height: 15px;
            width: 15px;
        }
    }

    &__main-content {
        display: grid;
        grid-template-columns: 250px 1fr;
        row-gap: 50px;
        padding: 0;
        margin: 0;
        max-width: 100%;

        .sidebar {
            grid-column: 1/2;
            grid-row: span 2;
            display: flex;
            flex-direction: column;

            div {
                margin-bottom: 35px;
            }

            a {
                font-family: $secondary-font;
                font-size: 14px;
                color: $primary-color-1;
                letter-spacing: .2px;
                display: inline-block;
                margin-bottom: 3.5px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $tertiary-color;
                }
            }

            p {
                margin-bottom: 2.8px;
                font-family: $primary-font;
                color: #474747;
                font-size: 14px;
            }

            ul {
                list-style: none;
            }

            li {
                margin-bottom: 6px;
                font-family: $primary-font;
                color: #474747;
                font-size: 14px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: -12px;
                    transform: translateY(-45%);
                    height: 5px;
                    width: 5px;
                    background-color: #474747;
                }
            }
        }

        .top-content {
            grid-column: 2/3;
            grid-row: 1/2;
            padding: 10px 50px;
            position: relative;

            .heading {
                color: $primary-color-1;
                font-size: 52px;
                font-family: $secondary-font;
                line-height: 1.2;

                span {
                    display: block;
                    margin: -8px 0;
                }
            }

            .subheading {
                font-size: 22px;
                color: #474747;
                font-family: $primary-font;
                font-weight: normal;
                margin: 19px 0 33px;
                letter-spacing: .4px;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: rgb(203, 201, 221);
            }
        }

        .other-content {
            grid-column: 2/3;
            grid-row: 2/3;
            padding: 0 50px;

            h4 {
                font-size: 20px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    height: 8px;
                    width: 90px;
                    border-radius: 2px;
                    background-color: $tertiary-color;
                    z-index: -1;
                }
            }

            div {
                margin: 40px 0;
                padding: 0 10px;
                position: relative;
            }

            h5 {
                color: $primary-color-1;
                font-size: 17px;
                margin-bottom: 15px;
            }

            p {
                max-width: 550px;
            }

            .p-links {
                position: absolute;
                right: 0;
                top: 8px;

                a {
                    text-transform: lowercase;
                    margin: 0 4px;
                    font-family: $tertiary-font;
                }
            }
        }
    }
}